# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\pavlo.fandych\go\src\go-learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/go-learn.iml
/modules.xml
/vcs.xml
/watcherTasks.xml
